
    .header {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        background: #362740;
        height: 60px;
        padding: 0 20px;
        width:100%;
        color: #ffffff;
      }
      
      .logo {
    
    
    position: absolute;
    width: 194px;
    height: 71px;
    
    
    
    
    background: url(../../logo.png);
    
      }
      
