.page{
    position: relative;
width: 1920px;
height: 2161px;

background: #7A3457;
}
.view{
    position: absolute;
width: 182px;
height: 43px;
left: 208px;
top: 37px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #FFFFFF;
}
.outer{
    padding-right: 5px;
}
.dropdown{
position: absolute;
width: 1028px;
height: 48px;
left: 306px;
top: 30px;
font-size: large;

background: #FFFFFF;
border-radius: 15px;

}

.search-div {
    position: absolute;
    width: 1330px;
    height: 42px;
    left: 96px;
    top: 138px;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    flex: 1;
    height: 42px;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
  }
  
  .search-btn {
    width: 42px;
    height: 62px;
    border: none;
    /* margin-left: -5px;  */
    border-radius: 0 10px 10px 0;
    /* background: #362740; */
   background: #ffffff;
    cursor: pointer;
  }
  .table {
    position: absolute;
    left: auto;
    width: inherit;
    top: inherit;
    background: #362740;
    color: #ffffff;
  }
  
  .table th {
    height: 88px;
  }
  
  .table td {
    height: 87px;
    background: #efd7e3;
  }
  
  .table tbody tr:nth-child(even) td {
    background: #c989a8;
  }

  .buttons {
    position: absolute;
    width: 700px;
    top: 588px;
    left: 397px;
    height: 90px;

    display: flex;
    justify-content: space-between;
  }
  
  .back-button,
  .next-button{
    width: 350px;
    height: 90px;
    background: #69bf64;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  